{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <ul class="grid cs-style-7">
        {% for treasure in treasures %}
        <li>
            <figure>
                {% if treasure.image.url == None %}
                    <img src="images/6.png" alt="{{ treasure.name }}">
                {% else %}
                    <img src="{% static 'images/item-1.jpg' %}" alt="{{ treasure.name }}">
                {% endif %}
                <figcaption>
                    <h3>Game Center</h3>
                    <span>By: {{ treasure.user.username }}</span>
                    <a href="/{{ treasure.id }}/">Take a look</a>
                </figcaption>
            </figure>
        </li>
        {% endfor %}
    </ul>
<!--<div class="row">
          <form enctype="multipart/form-data" action="post_url/" method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <input type="submit" value="Submit"/>
          </form>
      </div>-->
{% endblock %}