{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TreasureGram</title>
    <!--Foundation-->
    <link rel="stylesheet" type="text/css" href="{% static 'foundation.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>

<header>
    <div class="row">
      <nav class="small-12 columns" role="navigation">
          <a href="/">
            <img class="thumbnail" src="{% static 'images/logo.png' %}" height="90">
          </a>
      </nav>
    </div>
</header>

  <main class="expanded row">
      {% for treasure in treasures %}
      <a href="/{{treasure.id}}/" target="_blank">
      <div class="small-4 columns treasure-card">
        <div class="row">
            <h3 class="treasure-title">{{ treasure.name }}</h3>
        </div>
        <div class="row">
            <div class="treasure-photo">
                <img src="{{ treasure.img_url }}" height="100">
            </div>
      </div>
    </div>
      </a>
  {% endfor %}

  </main>
  <footer class="footer container text-center" role="contentinfo">
  <img src="{% static 'images/brand-icon.png' %}" height="50" alt="">
  © TreasureGram 2016
  <img src="{% static 'images/brand-icon.png' %}" height="50" alt="">
</footer>

</body>
</html>