{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<h1>{{ username }}</h1>

  <main>
    <ul class="grid cs-style-7">
        {% for treasure in treasures %}
                <li>
                    <figure>
                        {% if treasure.image.url == None %}
                            <img src="images/6.png" alt="{{ treasure.name }}">
                        {% else %}
                            <img src="{{ treasure.image.url }}" alt="{{ treasure.name }}">
                        {% endif %}
                        <figcaption>
                            <h3>{{ treasure.name }}</h3>
                            <span>{{ treasure.user.username }}</span>
                            <a href="/{{ treasure.id }}/">Take a look</a>
                        </figcaption>
                    </figure>
                </li>
        {% endfor %}
    </ul>
  </main>

{% endblock %}